Edit this file and write your solutions to the problems in sections specified with `# Your solution goes here`.

# Analyzing Chicken and Eggs
The goal of this assignment is to recreate the analysis of the chicken and eggs data set presented in this video:  
https://www.youtube.com/watch?v=j6ClFJhnG18

Watch the video. The first half is about visualization in general, the chicken and egg analysis starts at about 9:50. Note that the author uses R rather than Python.

The data set is unfortunately not available, so I have created one, saved as `chicken.csv`. There are differences in the numbers, but the character should be the same.

In A. Analysis below, the different analysis steps are prepared for you. For all plots, you are asked to produce the plot first with Pandas.plot() and then with Seaborn. Section B. Reflection asks you to think about both of these ways of plotting and which you prefer for what cases. Your oppinion is thought after.

Section C. is optional.

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## A. Analyzing the data

### 0. read in the data

In [2]:
# Your solution goes here
chicken = pd.read_csv('chicken.csv')
chicken

     week  age diet  weight  eggs
0       0  147    A  3106.2     4
1       0  157    A  2891.7     5
2       0  163    A  2958.3     4
3       0  145    A  3188.7     5
4       0  162    A  3491.7     5
..    ...  ...  ...     ...   ...
355    22  212    C  2966.5     4
356    22  176    C  3927.9     4
357    22  180    C  3361.6     5
358    22  193    C  3804.4     5
359    22  210    C  4046.7     3

[360 rows x 5 columns]

### 1. Weight by diet summary stats (Pandas groupby and describe)

In [4]:
# Your solution goes here
chicken.groupby(by='diet').describe()

       week                                                age         ...  \
      count  mean       std  min  25%   50%   75%   max  count   mean  ...
diet                                                                   ...
A     120.0  11.0  6.933053  0.0  5.5  11.0  16.5  22.0  120.0  166.5  ...
B     120.0  11.0  6.933053  0.0  5.5  11.0  16.5  22.0  120.0  187.9  ...
C     120.0  11.0  6.933053  0.0  5.5  11.0  16.5  22.0  120.0  183.4  ...

        weight           eggs
           75%     max  count      mean       std  min  25%  50%  75%  max
diet
A     3952.375  4845.0  120.0  4.483333  0.501817  4.0  4.0  4.0  5.0  5.0
B     3590.400  4057.6  120.0  4.033333  0.709282  3.0  4.0  4.0  5.0  5.0
C     3731.375  4508.7  120.0  4.175000  0.706066  3.0  4.0  4.0  5.0  5.0

[3 rows x 32 columns]

### 2. Eggs by diet summary stats (Pandas groupby and describe)

In [ ]:
# Your solution goes here

### 3.1 Histogram of age of chickens (Pandas hist())

In [ ]:
# Your solution goes here

### 3.2 Histogram of age of chickens (Seaborn distplot())

In [ ]:
# Your solution goes here

### 4.1 Boxplot age (Pandas boxplot())

In [ ]:
# Your solution goes here

### 4.2 Boxplot age (Seaborn boxplot())

In [ ]:
# Your solution goes here

### 5.1 Plot average weight vs weeks by diet (Pandas plot() on groupby()) 
Hint: groupby week and diet, calculate mean, get the weight colum, unstack and plot  
see here for more details:  
https://scentellegher.github.io/programming/2017/07/15/pandas-groupby-multiple-columns-plot.html

In [ ]:
# Your solution goes here

### 5.2 Plot average weight vs weeks by diet (Seaborn pointplot()) 
Hint: set `ci=None` to not get error bars

In [ ]:
# Your solution goes here

### 6.1 Plot average eggs vs weeks by diet (Pandas plot() on groupby()) 
Hint: It might be good to start y axis at 0

In [ ]:
# Your solution goes here

### 6.2 plot average eggs vs weeks by diet (Seaborn pointplot()) 
Hint: It might be good to start y axis at 0

In [ ]:
# Your solution goes here

### 7. Average age by diet stats (Pandas groupby())

In [ ]:
# Your solution goes here

### 8.1 Scatter plot eggs vs age by diet (Pandas plot.scatter())
Hint: You need to loop over the diet 'A', 'B', 'C' and plot each seperatly in the same axes. Use `ax=plt.gca()` to get repeated plots to appear in the same axes. For more info, have a look at the following thread:  
https://stackoverflow.com/questions/26139423/plot-different-color-for-different-categorical-levels-using-matplotlib

In [ ]:
# Your solution goes here

### 8.2 Scatter plot eggs vs age by diet (Seaborn scatterplot())

In [ ]:
# Your solution goes here

### 9.1 Boxplot age by diet (Pandas boxplot())

In [ ]:
# Your solution goes here

### 9.2 Boxplot age by diet (Seaborn boxplot())

In [ ]:
# Your solution goes here

## B. Reflection
After plotting with Pandas and Seaborn, in your opinion:
1. What are the strengths/weaknesses of Pandas?
2. What are the strengths/weaknesses of Seaborn?
3. When would you use Pandas and when seaborn?

**Your answers can go here:**

## C. (optional) Create your own chicken data set using pandas and numpy
You need 3 groups (A, B, C), a time in weeks, individuals are chickens with a certain age in weeks, their weight is roughly the same in each of the groups at the start of the experiment and increases, differently for diets, and they lay eggs.

Young chickens generally lay more eggs.
One group will have more young chickens.

In [ ]:
# Your solution goes here